{% extends 'main.html' %} {% block content %}
{% load static %}
  <div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{% static 'images/icon.svg' %}" alt="icon" />
        </a>
        <h3>Account SignUp</h3>
        <p>Create a new developer account</p>
      </div>

      <form action="{% url 'register' %}" class="form auth__form" method="POST">
        {% csrf_token %}
        <!-- Input:Text -->
        {% for field in form %}
        <div class="form__field">
          <label for="formInput#text">{{ field.label }}: </label>
          {{field}}
        </div>
        {% endfor %}
        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Sign Up" />
        </div>
      </form>
      <div class="auth__alternative">
        <p>Already have an Account?</p>
        <a href="{% url 'login' %}">Log In</a>
      </div>
    </div>
  </div>
 {% endblock content%}